@model BlogSite.Models.UserUpdateViewModel
@{
    ViewData["Title"] = "UpdateAuthor";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}

@using(Html.BeginForm("Update","Author",FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
                <br>
                <form class="forms-sample" >
                    <div class="form-group">
                        @Html.Label("İsim")
                        <input type="text" asp-for="@Model.namesurname" class="form-control"/>
                    </div>
                    <div class="form-group">
                        @Html.Label("Kullanıcı ADI")
                        <input type="text" asp-for="@Model.username" class="form-control" />
                    </div>
                    <div class="form-group">
                        @Html.Label("Mail Adresi")
                        <input type="text" asp-for="@Model.mail" class="form-control" />
                       
                    </div>
                    <div class="form-group">
                        @Html.Label("Resim Yolu")
                        <input type="text" asp-for="@Model.imageurl" class="form-control" />

                    </div>
                    <div class="form-group">
                        @Html.Label("Şifre")
                        @*@Html.PasswordFor(x=>x.PasswordHash,new {@class="form-control"})*@
                    </div>
                    @*<div class="form-group">
                        <label>Yazar Görsel</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-gradient-primary" type="button">Resim Seç</button>
                            </span>
                        </div>
                    </div>*@
                    @*<div class="form-group">
                        <label for="exampleTextarea1">Yazar Hakkında</label>
                        @Html.TextAreaFor(x=>x,10,3,new {@class="form-control"})
                    </div>
                  *@
                    <button class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}
